DJANGO_SETTINGS_MODULE=nfi_search.site.settings.production

SECRET_KEY=secret
ALLOWED_HOSTS=*
DEBUG=yes

DJANGO_COLLECT_STATIC=yes
DJANGO_MIGRATE=yes

FILES_DIR=/var/local/fise.nfi.search/data_files
IMPORT_FILES_DIR=/var/local/fise.nfi.search/import_files

DJANGO_PORT=8000

NFI_SEARCH_USE_TLS=False
NFI_SEARCH_DOMAIN=nfi-search.dev.eaudeweb.ro

BACKEND_HOST=nfi-search.dev.eaudeweb.ro
BACKEND_PORT=80

POSTGRES_HOST=postgres

ELASTICSEARCH_HOST=elasticsearch
ELASTICSEARCH_AUTH=elastic:changeme

TIKA_HOST=tika
TIKA_PORT=9998
TIKA_TIMEOUT=20
