DJANGO_SETTINGS_MODULE=fise_search.site.settings.production

SECRET_KEY=secret
ALLOWED_HOSTS=*
DJANGO_COLLECT_STATIC=yes
DJANGO_MIGRATE=yes

FILES_DIR=/var/local/fise.search/data_files
IMPORT_FILES_DIR=/var/local/fise.search/import_files

DJANGO_PORT=8000

POSTGRES_HOST=postgres

ELASTICSEARCH_HOST=elasticsearch
ELASTICSEARCH_AUTH=elastic:changeme
