SECRET_KEY=secret
ALLOWED_HOSTS=*
DEBUG=yes

POSTGRES_HOST=postgres

DJANGO_COLLECT_STATIC=yes
DJANGO_MIGRATE=yes

GUNICORN_PORT=8000
SCRIPT_NAME=nfi_search

ELASTICSEARCH_HOST=elasticsearch
ELASTICSEARCH_AUTH=elastic:changeme
