<div id="portal-footer-wrapper">
  <div class="cell width-full position-0">
    <div class="portal-footer-top-area">
      <div id="portal-footer" class="container">
        <div class="clearfix portal-footer-colophon row">
          <div class="col-md-4">
            <h5 class="bold">About</h5>
            <p>FISE - Forest Information System for Europe is a forest knowledge base in support of the EU Forest Strategy.
            </p>
            <a href="/about-us">More</a>
          </div>
          <div class="col-md-3 col-md-offset-2">
            <h5 class="bold">Links</h5>
            <ul class="list">
              <li><a href="https://demo-forests.eea.europa.eu/legal/">Legal notice</a></li>
              <li><a href="https://demo-forests.eea.europa.eu/legal/privacy">Privacy policy</a></li>
              <li><a href="https://demo-forests.eea.europa.eu/legal/credits">Credits</a></li>
            </ul>
          </div>
          <div class="col-md-3">
            <h5 class="bold">Partners</h5>
            <a href="http://ec.europa.eu/dgs/environment/" class="inline-block"><img width="111" height="77" alt="European Commission - Directorate-General for Environment"
                src="https://demo-forests.eea.europa.eu/footer-european-comission.png">
            </a>
            <a href="https://eea.europa.eu/" class="inline-block"><img width="134" height="47" alt="European Environment Agency"
                src="https://demo-forests.eea.europa.eu/footer-eea-logo.png">
            </a>
          </div>
        </div>
        <!-- hr class="footer-hr" />
        <tal:category_title tal:replace="structure context/category-title"></tal:category_title -->
      </div>
    </div>
    <div class="portal-footer-bottom-area">
      <div class="portal-footer-logos container">
        <div class="row flex align-items-center">
          <img src="https://demo-forests.eea.europa.eu/logo-green-footer.png" alt="" />
          <p class="right-aligned">&copy; Copyright 2018 DG Environment</p>
        </div>
      </div>
    </div>
  </div>
</div>