<div class="external-header">
  <link rel="stylesheet" href="https://demo-forests.eea.europa.eu/components/external-templates.css" />

  <div class="mobile-header navbar navbar-default navbar-fixed-top">
    <div id="mobile-header-container" class="container-fluid">
      <div class="navbar-header">
        <a accesskey="1" id="portal-logo-link-header" title="Fise logo" href="https://demo-forests.eea.europa.eu">
          <img class="nav-logo" src="https://demo-forests.eea.europa.eu/logo.png" />
        </a>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse"
          aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-collapse">
          <div id="portal-top" class="row">
            <div class="header">
              <div id="portal-header">
                <a id="portal-logo" title="Forest Information System for Europe" accesskey="1" href="https://demo-forests.eea.europa.eu">
                  <img src="https://demo-forests.eea.europa.eu/logo.png" alt="Forest Information System for Europe"
                    title="Forest Information System for Europe" height="139" width="265" /></a>

                <p class="hiddenStructure">
                  <a accesskey="2" href="https://demo-forests.eea.europa.eu/getHeader#content">Skip
                    to content.</a> |
                  <a accesskey="6" href="https://demo-forests.eea.europa.eu/getHeader#portal-globalnav">Skip
                    to navigation</a>
                </p>
                <ul id="navbar" class="main-nav">
                  <li class="main-nav-item">
                    <a href="https://demo-forests.eea.europa.eu/topics" data-toggle="False" class="" aria-haspopup="False">
                      <span>Topics</span>
                    </a>
                  </li>
                  <li class="main-nav-item">
                    <a href="https://demo-forests.eea.europa.eu/data-and-maps" data-toggle="False" class=""
                      aria-haspopup="False">
                      <span>Data and maps</span>
                    </a>
                  </li>
                  <li class="main-nav-item">
                    <a href="https://demo-forests.eea.europa.eu/indicators" data-toggle="False" class="" aria-haspopup="False">
                      <span>Indicators</span>
                    </a>
                  </li>
                  <li class="main-nav-item">
                    <a href="https://demo-forests.eea.europa.eu/countries-and-regions" data-toggle="dropdown" class="dropdown-toggle"
                      aria-haspopup="true">
                      <span>Countries and regions</span>
                      <button class="toggle-down"><i class="angle-down-icon"></i></button>
                    </a>
                    <div class="sub-menu-wrapper">
                      <ul class="sub-menu">
                        <li class="sub-menu-item">
                          <a href="https://demo-forests.eea.europa.eu/countries-and-regions" class="sub-menu-link ">Countries</a>
                          <ul class="sub-sub-menu-wrapper">
                            <li class="sub-sub-menu-item">
                              <a href="https://demo-forests.eea.europa.eu/countries-and-regions/albania" class="sub-sub-menu-link">Albania</a>
                            </li>
                            <li class="sub-sub-menu-item">
                              <a href="https://demo-forests.eea.europa.eu/countries-and-regions/austria" class="sub-sub-menu-link">Austria</a>
                            </li>
                            <li class="sub-sub-menu-item">
                              <a href="https://demo-forests.eea.europa.eu/countries-and-regions/belgium" class="sub-sub-menu-link">Belgium</a>
                            </li>
                            <li class="sub-sub-menu-item">
                              <a href="https://demo-forests.eea.europa.eu/countries-and-regions/bosnia-herzegovina"
                                class="sub-sub-menu-link">Bosnia-Herzegovina</a>
                            </li>
                            <li class="sub-sub-menu-item">
                              <a href="https://demo-forests.eea.europa.eu/countries-and-regions/bulgaria" class="sub-sub-menu-link">Bulgaria</a>
                            </li>
                            <li class="sub-sub-menu-item">
                              <a href="https://demo-forests.eea.europa.eu/countries-and-regions/croatia" class="sub-sub-menu-link">Croatia</a>
                            </li>
                            <li class="sub-sub-menu-item">
                              <a href="https://demo-forests.eea.europa.eu/countries-and-regions/cyprus" class="sub-sub-menu-link">Cyprus</a>
                            </li>
                            <li class="sub-sub-menu-item">
                              <a href="https://demo-forests.eea.europa.eu/countries-and-regions/czech-republic" class="sub-sub-menu-link">Czech
                                Republic</a>
                            </li>
                            <li class="sub-sub-menu-item">
                              <a href="https://demo-forests.eea.europa.eu/countries-and-regions/denmark" class="sub-sub-menu-link">Denmark</a>
                            </li>
                            <li class="sub-sub-menu-item">
                              <a href="https://demo-forests.eea.europa.eu/countries-and-regions/estonia" class="sub-sub-menu-link">Estonia</a>
                            </li>
                            <li class="sub-sub-menu-item">
                              <a href="https://demo-forests.eea.europa.eu/countries-and-regions/finland" class="sub-sub-menu-link">Finland</a>
                            </li>
                            <li class="sub-sub-menu-item">
                              <a href="https://demo-forests.eea.europa.eu/countries-and-regions/france" class="sub-sub-menu-link">France</a>
                            </li>
                            <li class="sub-sub-menu-item">
                              <a href="https://demo-forests.eea.europa.eu/countries-and-regions/germany" class="sub-sub-menu-link">Germany</a>
                            </li>
                            <li class="sub-sub-menu-item">
                              <a href="https://demo-forests.eea.europa.eu/countries-and-regions/greece" class="sub-sub-menu-link">Greece</a>
                            </li>
                            <li class="sub-sub-menu-item">
                              <a href="https://demo-forests.eea.europa.eu/countries-and-regions/hungary" class="sub-sub-menu-link">Hungary</a>
                            </li>
                            <li class="sub-sub-menu-item">
                              <a href="https://demo-forests.eea.europa.eu/countries-and-regions/iceland" class="sub-sub-menu-link">Iceland</a>
                            </li>
                            <li class="sub-sub-menu-item">
                              <a href="https://demo-forests.eea.europa.eu/countries-and-regions/ireland" class="sub-sub-menu-link">Ireland</a>
                            </li>
                            <li class="sub-sub-menu-item">
                              <a href="https://demo-forests.eea.europa.eu/countries-and-regions/italy" class="sub-sub-menu-link">Italy</a>
                            </li>
                            <li class="sub-sub-menu-item">
                              <a href="https://demo-forests.eea.europa.eu/countries-and-regions/kosovo" class="sub-sub-menu-link">Kosovo</a>
                            </li>
                            <li class="sub-sub-menu-item">
                              <a href="https://demo-forests.eea.europa.eu/countries-and-regions/latvia" class="sub-sub-menu-link">Latvia</a>
                            </li>
                            <li class="sub-sub-menu-item">
                              <a href="https://demo-forests.eea.europa.eu/countries-and-regions/liechtenstein" class="sub-sub-menu-link">Liechtenstein</a>
                            </li>
                            <li class="sub-sub-menu-item">
                              <a href="https://demo-forests.eea.europa.eu/countries-and-regions/lithuania" class="sub-sub-menu-link">Lithuania</a>
                            </li>
                            <li class="sub-sub-menu-item">
                              <a href="https://demo-forests.eea.europa.eu/countries-and-regions/luxenbourg" class="sub-sub-menu-link">Luxembourg</a>
                            </li>
                            <li class="sub-sub-menu-item">
                              <a href="https://demo-forests.eea.europa.eu/countries-and-regions/malta" class="sub-sub-menu-link">Malta</a>
                            </li>
                            <li class="sub-sub-menu-item">
                              <a href="https://demo-forests.eea.europa.eu/countries-and-regions/montenegro" class="sub-sub-menu-link">Montenegro</a>
                            </li>
                            <li class="sub-sub-menu-item">
                              <a href="https://demo-forests.eea.europa.eu/countries-and-regions/netherlands" class="sub-sub-menu-link">Netherlands</a>
                            </li>
                            <li class="sub-sub-menu-item">
                              <a href="https://demo-forests.eea.europa.eu/countries-and-regions/norway" class="sub-sub-menu-link">Norway</a>
                            </li>
                            <li class="sub-sub-menu-item">
                              <a href="https://demo-forests.eea.europa.eu/countries-and-regions/poland" class="sub-sub-menu-link">Poland</a>
                            </li>
                            <li class="sub-sub-menu-item">
                              <a href="https://demo-forests.eea.europa.eu/countries-and-regions/portugal" class="sub-sub-menu-link">Portugal</a>
                            </li>
                            <li class="sub-sub-menu-item">
                              <a href="https://demo-forests.eea.europa.eu/countries-and-regions/romania" class="sub-sub-menu-link">Romania</a>
                            </li>
                            <li class="sub-sub-menu-item">
                              <a href="https://demo-forests.eea.europa.eu/countries-and-regions/serbia" class="sub-sub-menu-link">Serbia</a>
                            </li>
                            <li class="sub-sub-menu-item">
                              <a href="https://demo-forests.eea.europa.eu/countries-and-regions/slovakia" class="sub-sub-menu-link">Slovakia</a>
                            </li>
                            <li class="sub-sub-menu-item">
                              <a href="https://demo-forests.eea.europa.eu/countries-and-regions/slovenia" class="sub-sub-menu-link">Slovenia</a>
                            </li>
                            <li class="sub-sub-menu-item">
                              <a href="https://demo-forests.eea.europa.eu/countries-and-regions/spain" class="sub-sub-menu-link">Spain</a>
                            </li>
                            <li class="sub-sub-menu-item">
                              <a href="https://demo-forests.eea.europa.eu/countries-and-regions/sweden" class="sub-sub-menu-link">Sweden</a>
                            </li>
                            <li class="sub-sub-menu-item">
                              <a href="https://demo-forests.eea.europa.eu/countries-and-regions/switzerland" class="sub-sub-menu-link">Switzerland</a>
                            </li>
                            <li class="sub-sub-menu-item">
                              <a href="https://demo-forests.eea.europa.eu/countries-and-regions/the-former-yugoslav-republic-of-macedonia"
                                class="sub-sub-menu-link">The Former Yugoslav Republic
                                of Macedonia</a>
                            </li>
                            <li class="sub-sub-menu-item">
                              <a href="https://demo-forests.eea.europa.eu/countries-and-regions/turkey" class="sub-sub-menu-link">Turkey</a>
                            </li>
                            <li class="sub-sub-menu-item">
                              <a href="https://demo-forests.eea.europa.eu/countries-and-regions/united-kingdom" class="sub-sub-menu-link">United
                                Kingdom</a>
                            </li>
                          </ul>
                        </li>
                      </ul>

                      <ul class="sub-menu">
                        <li class="sub-menu-item">
                          <a href="https://demo-forests.eea.europa.eu/countries-and-regions" class="sub-menu-link ">Regions</a>
                          <ul class="sub-sub-menu-wrapper">
                            <li class="sub-sub-menu-item">
                              <a href="https://demo-forests.eea.europa.eu/countries-and-regions/" class="sub-sub-menu-link">EU
                                28</a>
                            </li>
                            <li class="sub-sub-menu-item">
                              <a href="https://demo-forests.eea.europa.eu/countries-and-regions/" class="sub-sub-menu-link">EEA
                                39</a>
                            </li>
                          </ul>
                        </li>
                        <li class="sub-menu-item">
                          <a href="https://demo-forests.eea.europa.eu/countries-and-regions" class="sub-menu-link sub-menu-link--more">See
                            all regions</a>

                        </li>
                      </ul>

                    </div>
                  </li>
                  <li class="main-nav-item">
                    <a href="https://demo-forests.eea.europa.eu/tools" data-toggle="False" class="" aria-haspopup="False">
                      <span>Tools</span>
                    </a>
                  </li>
                </ul>

                <div class="header-info">
                  <ul id="portal-siteactions">
                    <li><a href="http://nfi-search.dev.eaudeweb.ro/">NFI search</a></li>
                  </ul>
                </div>

                <div class="search">
                  <i class="fa fa-lg fa-search"></i>
                  <div id="portal-searchbox">
                    <form id="nolivesearchGadget_form" action="https://demo-forests.eea.europa.eu/@@search">

                      <div class="LSBox">
                        <label class="hiddenStructure" for="nolivesearchGadget">Search Site</label>

                        <input name="SearchableText" type="text" size="18" title="Search Site" placeholder="Search Site"
                          accesskey="4" class="searchField" id="nolivesearchGadget" />

                        <input class="searchButton" type="submit" value="Search" />

                        <div class="searchSection">
                          <input id="searchbox_currentfolder_only" class="noborder" type="checkbox" name="path" value="/Plone" />
                          <label for="searchbox_currentfolder_only" style="cursor: pointer">
                            only in current section
                          </label>
                        </div>

                        <div class="LSResult" id="LSResult">
                          <div class="LSShadow" id="LSShadow"></div>
                        </div>
                      </div>
                    </form>

                    <div id="portal-advanced-search" class="hiddenStructure">
                      <a href="https://demo-forests.eea.europa.eu/@@search" accesskey="5">
                        Advanced Search&hellip;
                      </a>
                    </div>

                  </div>

                </div>

                <div class="login">
                  <i class="fa fa-lg fa-user-circle-o"></i>
                  <div class="login-container">
                    <div id="portal-personaltools-wrapper">

                      <p class="hiddenStructure">Personal tools</p>



                      <ul class="actionMenu deactivated" id="portal-personaltools">
                        <li id="anon-personalbar">

                          <a href="https://demo-forests.eea.europa.eu/login" id="personaltools-login">Log
                            in</a>

                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="header-image">
                <picture>
                  <source media="(max-width: 767px)" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" />
                  <source media="(min-width: 768px)" alt="Header forest image" srcset="https://demo-forests.eea.europa.eu/header-image.jpg" />
                  <img alt="Header forest image" src="https://demo-forests.eea.europa.eu/header-image.jpg" />
                </picture>

                <h1 class="header-image-title">Forest Information System for Europe</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <meta name="viewport" content="width=device-width, initial-scale=0.6666, maximum-scale=2.0, minimum-scale=0.6666" />
  <script type="text/javascript" src="https://demo-forests.eea.europa.eu/bs-collapse.js"></script>
</div>